body {
  margin: 0;
}
@media (max-width: 768px) {
  .bienvenidos-sec {
    width: 100%;
    height: 616px;
    overflow: hidden;
    position: relative;
  }
  .imagenes {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 54px;
    height: 50px;
    margin-top: 18px;
    margin-left: 17px;
  }
  .menu {
    width: 36px;
    height: 32px;
    margin-top: 29px;
    margin-right: 17px;
  }
  .nav-buttons {
    display: none;
  }

  .rectangulo-1 {
    width: 100%;
    height: 6px;
    background-color: black;
  }
  .rectangulo-2 {
    width: 100%;
    height: 6px;
    background-color: black;
    margin-top: 6px;
  }
  .rectangulo-3 {
    width: 100%;
    height: 6px;
    background-color: black;
    margin-top: 6px;
  }
  .bienvenidos-tittle {
    width: 291px;
    height: 96px;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin: 162px 42px;
  }
  .foto-container {
    width: 318px;
    height: 300px;
    margin: 316px 31px;
  }
  .foto {
    width: 100%;
    height: 100%;
  }
  .info-sec {
    width: 100%;
    height: 538px;
    background-color: #2c2c2c;
    padding-top: 30px;
  }
  .info-tittle {
    width: 271px;
    height: 44px;
    margin: 0 52px;
  }
  .soy-luciano {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #fafafa;
    font-size: 32px;
  }
  .text-container {
    width: 312px;
    height: 193px;
    margin: 30px 31px;
  }
  .info-text {
    color: #fafafa;
    font-family: "Roboto";
  }
  .info-logo {
    width: 80px;
    height: 80px;
    margin: 100px 147px;
  }
  .logo-info {
    width: 100%;
    height: 100%;
  }
  .service-sec {
    width: 100%;
    height: 1375px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
  }
  .service-tittle-container {
    width: 271px;
    height: 56px;
    margin: 30px 52px;
  }
  .service-tittle {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
  }
  .services-cards-1,
  .services-cards-2,
  .services-cards-3 {
    width: 271px;
    height: 312px;
    margin: 0 52px;
    text-align: center;
    margin-bottom: 16px;
  }
  .service-logo {
    width: 138px;
    height: 138px;
    display: block; /* importante para que margin auto funcione */
    margin: 0 auto;
  }
  .service-subtittle {
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
  }
  .service-text {
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    height: 100%;
    width: 100%;
  }
  .contact-sec {
    width: 100%;
    height: 660px;
    background-color: #141414;
    padding-top: 30px;
  }
  .contact-title-container {
    width: 271px;
    height: 56px;
    margin: 0 52px;
  }
  .contact-title {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #fafafa;
    font-size: 32px;
  }
  .form-container {
    margin: 0 auto;
  }
  .label {
    font-family: roboto;
    font-size: 13px;
    color: #fafafa;
    margin-bottom: 10px;
    margin: 0 20px;
  }
  .input {
    margin: 0 20px;
    width: 320px;
    height: 45px;
    margin-bottom: 40px;
  }
  .text-area {
    margin: 0 20px;
    width: 320px;
    height: 113px;
  }
  .submit-button {
    width: 335px;
    height: 45px;
    background-color: #ffd953;
    font-family: roboto;
    font-size: 16px;
    margin: 0 20px;
    margin-top: 35px;
    border-radius: 5px;
  }
  .footer-sec {
    width: 100%;
    height: 493px;
    background-color: #fafafa;
    padding-top: 30px;
  }
  .logo-container {
    width: 77px;
    height: 71px;
    margin: 0 16px;
  }
  .logo-footer {
    width: 100%;
    height: 100%;
  }
  .redes-sociales {
    width: 27px;
    height: 27px;
    margin: 0 19px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .red-social span {
    font-size: 16px;
    color: #222;
    font-family: roboto;
  }

  .red-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    width: 100%;
    height: 100%;
  }
  .red-social img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 769px) {
  .bienvenidos-sec {
    width: 100%;
    height: 616px;
    position: relative;
  }
  .imagenes {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 95px;
    height: 109px;
    margin: 36px 80px;
  }

  .nav-buttons {
    width: 428px;
    height: 28px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px auto;
  }

  .quien-soy,
  .servicios,
  .escribime {
    font-family: roboto;
    font-size: 24px;
    color: black;
  }
  .bienvenida-container {
    display: flex;
    justify-content: space-between;
  }
  .bienvenida-title-container {
    width: 313px;
    height: 96px;
    margin: 0 80px;
    display: flex;
  }

  .bienvenidos-tittle {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
  }
  .foto-container {
    width: 435px;
    height: 395px;
    display: flex;
    margin: 41px 84px;
  }
  .foto {
    width: 100%;
    height: 100%;
  }

  .info-sec {
    width: 100%;
    height: 538px;
    background-color: #2c2c2c;
    padding-top: 30px;
  }
  .info-container {
    display: flex;
    justify-content: space-between;
  }
  .info-texto {
    order: 2;
    width: 532px;
    height: 237px;
    margin-top: 132px;
    margin-right: 301px;
  }
  .info-tittle {
    width: 271px;
    height: 44px;
    margin: 0 52px;
  }
  .soy-luciano {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #fafafa;
    font-size: 32px;
  }
  .text-container {
    width: 532px;
    height: 165px;
    margin: 30px 31px;
  }
  .info-text {
    color: #fafafa;
    font-family: "Roboto";
  }
  .info-logo {
    width: 211px;
    height: 211px;
    margin-top: 145px;
    margin-left: 306px;
    order: 1;
  }
  .logo-info {
    width: 100%;
    height: 100%;
  }
  .service-sec {
    width: 100%;
    height: 604px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
  }
  .service-tittle-container {
    width: 403px;
    height: 56px;
    margin: 59px 52px;
    justify-content: center;
  }
  .service-tittle {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
  }
  .service-cards-row {
    display: flex;
    flex-direction: row;
    gap: 100px; /* Espacio entre tarjetas, ajusta a gusto */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    margin-top: 20px; /* Espacio entre el título y las tarjetas */
  }
  .services-cards-1,
  .services-cards-2,
  .services-cards-3 {
    width: 271px;
    height: 312px;
    margin: 0 52px;
    text-align: center;
    margin-bottom: 16px;
  }
  .service-logo {
    width: 138px;
    height: 138px;
    display: block; /* importante para que margin auto funcione */
    margin: 0 auto;
  }
  .service-subtittle {
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
  }
  .service-text {
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    height: 100%;
    width: 100%;
  }
  .contact-sec {
    width: 100%;
    height: 660px;
    background-color: #141414;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .contact-title-container {
    width: 271px;
    height: 56px;
    margin-top: 116px;
    margin-left: 304px;
  }
  .contact-title {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #fafafa;
    font-size: 48px;
  }
  .form-container {
    margin-top: 116px;
    margin-right: 412px;
  }
  .label {
    font-family: roboto;
    font-size: 13px;
    color: #fafafa;
    margin-bottom: 10px;
    margin: 0 20px;
  }
  .input {
    margin: 0 20px;
    width: 320px;
    height: 45px;
    margin-bottom: 40px;
  }
  .text-area {
    margin: 0 20px;
    width: 320px;
    height: 113px;
  }
  .submit-button {
    width: 335px;
    height: 45px;
    background-color: #ffd953;
    font-family: roboto;
    font-size: 16px;
    margin: 0 20px;
    margin-top: 35px;
    border-radius: 5px;
  }
  .footer-sec {
    width: 100%;
    height: 493px;
    background-color: #fafafa;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .logo-container {
    width: 112px;
    height: 103px;
    margin-top: 98px;
    margin-left: 80px;
  }
  .logo-footer {
    width: 100%;
    height: 100%;
  }
  .redes-sociales {
    width: 27px;
    height: 27px;

    margin-top: 95px;
    margin-right: 215px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .red-social span {
    font-size: 16px;
    color: #222;
    font-family: roboto;
  }

  .red-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    width: 100%;
    height: 100%;
  }
  .red-social img {
    width: 100%;
    height: 100%;
  }
}
